/*
///////////////////////////////RESET\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
//////////////////////TYPOGRAPHY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
p {
  padding-bottom: 1rem;
}

p.justify {
  text-align: justify;
}

p.caption {
  font-size: 0.875rem;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  transition: 300ms;
}

a:visited {
  color: hsl(0, 0%, 0%);
}

a:hover {
  color: hsl(0, 100%, 40%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
}

h2.brand {
  font-size: 3.75rem;
  letter-spacing: 1px;
  color: hsl(0, 100%, 40%);
  text-transform: uppercase;
  border-bottom: 2px solid hsl(0, 0%, 0%);
  margin-bottom: 1rem;
}
@media (max-width: 400px) {
  h2.brand {
    font-size: 1.875rem;
  }
}

.intro {
  font-size: 1.125rem;
}
@media (max-width: 500px) {
  .intro {
    font-size: 1rem;
  }
}

.credit-font {
  font-family: "Courier Prime", monospace;
  font-size: 11px;
}

/*
//////////////////////ANIMATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.img-zoom {
  overflow: hidden;
}

.img-zoom img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-zoom:hover img {
  transform: scale(1.1);
}

/*
//////////////////////UTILITY CLASSES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.hide {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.show {
  display: block !important;
}

.alignleft {
  float: left;
  padding-right: 1rem;
}

.alignright {
  float: right;
  padding-left: 1rem;
}

.clearboth {
  clear: both;
  padding-top: 1rem;
}

/*padding & margin*/
.pt3 {
  padding-top: 3rem !important;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pt1 {
  padding-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem !important;
}

.img-shape {
  object-fit: cover;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.img-shadow {
  -webkit-box-shadow: 7px 7px 0px 2px #cc0000;
  box-shadow: 7px 7px 0px 2px #cc0000;
}

@media only screen and (max-width: 576px) {
  /* Your CSS rules for extra small devices here */
}
@media only screen and (min-width: 576px) {
  /* Your CSS rules for small devices here */
}
@media only screen and (min-width: 768px) {
  /* Your CSS rules for medium devices here */
}
@media only screen and (min-width: 992px) {
  /* Your CSS rules for large devices here */
}
@media only screen and (min-width: 1200px) {
  /* Your CSS rules for extra large devices here */
}
@media only screen and (orientation: landscape) {
  /* Your CSS rules for landscape orientation here */
}
/*
//////////////////////////////BODY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  color: hsla(0, 0%, 0%, 0.8);
}

/*
///////////////////////////CONTAINERS (just global - other containers are page specific)\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.container {
  max-width: 1250px;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}
section {
  margin-bottom: 4rem;
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}
@media (max-width: 500px) {
  .posts-container {
    grid-template-columns: 1fr;
  }
}

.footer-container {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 2rem 0 1rem 0;
  font-size: 0.875rem;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem;
  gap: 1rem;
}
@media (max-width: 550px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}
.footer-content a {
  color: hsl(0, 0%, 100%);
  transition: 300ms;
}
.footer-content a:hover {
  color: hsl(0, 100%, 40%);
}
.footer-content .footer-navigation {
  grid-column: 1/-1;
}

/*
///////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  position: relative;
}

.single-portfolio .header-container,
.page-privacy-policy .header-container,
.error404 .header-container {
  background-color: hsl(0, 0%, 0%);
}
.single-portfolio .header-container h1,
.page-privacy-policy .header-container h1,
.error404 .header-container h1 {
  background-image: url(/wp-content/uploads/logo-inverted.png);
  background-repeat: no-repeat;
  max-width: 220px;
}

@media (min-width: 1000px) {
  .header-container {
    background-color: hsla(0, 0%, 0%, 0.25);
  }
}
.header-container a {
  display: contents;
}

.header-container h1 span {
  opacity: 0;
}

.header-container h1 {
  background-image: url(/wp-content/uploads/logo.png);
  background-repeat: no-repeat;
  max-width: 220px;
}

.header-container img {
  max-width: 220px;
}

.logo {
  opacity: 0;
}

/*
///////////////////////////NAVIGATION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.menu {
  list-style-type: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 900px) {
  .menu .current_page_item > a {
    color: hsl(0, 0%, 100%);
    border-bottom: 2px solid hsl(0, 0%, 100%);
    padding-bottom: 5px;
    cursor: default;
  }
  .menu .current-menu-ancestor .current_page_item > a {
    color: hsl(0, 0%, 0%);
  }
}
.menu li {
  padding-left: 2rem;
}

.menu li a {
  position: relative;
  display: block;
  line-height: 1;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.menu li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu li.current_page_item a:hover::after {
  transform: scaleX(0);
}

.toggle-btn-container {
  display: none;
}

.sub-menu-container {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.mobile-menu-container {
  height: 0px;
  overflow: hidden;
  transition: all 0.5s linear;
  background-color: hsl(0, 100%, 40%);
}

.mobile-sub-menu {
  margin-left: 0;
  font-size: 1rem;
}

@media (max-width: 1050px) {
  .current-menu-item li a {
    color: hsl(0, 0%, 100%);
  }
  .mobile-menu {
    padding: 2rem 0;
  }
  .mobile-menu li {
    padding: 0.25rem 0 0.25rem 1rem;
  }
  .mobile-menu li a {
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: inline-block;
    font-size: 1.375rem;
  }
  .mobile-menu li a:hover {
    color: hsl(0, 100%, 40%);
  }
  .mobile-menu li a:active {
    color: hsl(0, 0%, 100%);
  }
  .mobile-menu li.current-menu-item a {
    color: hsl(0, 0%, 0%);
  }
  .toggle-btn-container {
    display: block;
  }
  .nav-toggle {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    transition: all 0.3s linear;
    width: 50px;
    background-color: hsl(0, 0%, 0%);
  }
  .menu {
    display: none;
  }
  .menu {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .nav-toggle {
    top: 0;
    right: 0;
  }
}
/*
///////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.trust-pilot img {
  width: 30%;
}

.copyright {
  text-align: right;
}
@media (max-width: 500px) {
  .copyright {
    text-align: left;
  }
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  z-index: 10;
  position: relative;
  border-bottom: 1px solid hsla(0, 100%, 100%, 0.25);
}
.footer-navigation h4 {
  background-image: url(/wp-content/uploads/logo-inverted.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer-navigation h4 span {
  opacity: 0;
}
.footer-navigation img {
  min-width: 200px;
}
.footer-navigation .menu li a {
  font-size: 0.875rem;
}

/*////////////////HOME PAGE \\\\\\\\\\\\\\\*/
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
@media (max-width: 500px) {
  .home-grid {
    grid-template-columns: 1fr;
  }
}

/*////////////////ABOUT PAGE \\\\\\\\\\\\\\\*/
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
@media (max-width: 500px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}

.biog-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.biog-imgs img {
  object-fit: cover;
}

.biog-arrow-one,
.biog-arrow-two {
  transform: translateY(-20px);
  color: hsl(0, 0%, 100%);
}

.biog-imgs__overlay {
  position: relative;
}

.biog-imgs__overlay__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 1rem;
}
.biog-imgs__overlay__item:hover {
  opacity: 1;
}
.biog-imgs__overlay__item p {
  text-align: left;
}
@media (max-width: 900px) {
  .biog-imgs__overlay__item p {
    font-size: 0.75rem;
    line-height: 1;
  }
}
.biog-imgs__overlay__item a {
  color: hsl(0, 0%, 100%);
}
.biog-imgs__overlay__item a:hover {
  color: hsl(0, 100%, 40%);
}

.show-biog {
  opacity: 1;
}

/*////////////////PORTFOLIO PAGE \\\\\\\\\\\\\\\*/
.portfolio-hero__overlay__right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem 0;
  gap: 2rem;
}
@media (max-width: 500px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}
.portfolio-grid ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.portfolio_grid__copy,
.extra-content {
  padding: 0 1rem 1rem 1rem;
}

.portfolio-grid__right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.portfolio-grid__right__inner {
  display: grid;
  grid-template-columns: 30% 1fr;
  row-gap: 2rem;
  padding-left: 1rem;
}

.portfolio-images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2rem 0;
}
.portfolio-images-grid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*////////////////CONTACT PAGE \\\\\\\\\\\\\\\*/
.contact-full-width-container {
  min-height: 60vh;
  background-position: left top;
}

.page-contact .hero__overlay__right {
  display: block;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  place-content: center;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

.contact-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 2px 2px 5px 0px rgb(230, 230, 230);
  transition: all 0.3s linear;
  color: hsl(0, 0%, 0%);
  padding: 2rem;
  height: 300px;
}
.contact-grid__item:hover {
  box-shadow: 9px 9px 8px rgba(12, 150, 192, 0.168627451), -9px -9px 8px #fff;
}
.contact-grid__item h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-grid__item .fa-solid {
  font-size: 2rem;
}

.googlemap {
  position: relative;
  padding-bottom: 25%; /* 4:3 ratio*/
  height: 0;
  overflow: hidden;
}
@media (max-width: 500px) {
  .googlemap {
    padding-bottom: 50%;
  }
}

.googlemap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*////////////////404\\\\\\\\\\\\\\\*/
.page-404 {
  background-image: url(/wp-content/uploads/404.webp);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-content: center;
  margin-top: 1rem;
}

.content-404 {
  max-width: 800px;
  background-color: hsla(0, 0%, 100%, 0.75);
  padding: 2rem;
}
.content-404 h2 {
  font-size: 4rem;
  text-align: center;
  color: hsl(0, 100%, 40%);
}
@media (max-width: 1000px) {
  .content-404 h2 {
    font-size: 2rem;
  }
}
.content-404 p {
  text-align: center;
  font-size: clamp(1rem, 0.3333rem + 3.5556vw, 3rem);
  font-weight: bold;
}

/*////////////////SERVICES PAGE \\\\\\\\\\\\\\\*/
.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding-left: 1rem;
}

.icon-grid__item i {
  font-size: 5.313rem;
  color: hsl(0, 0%, 100%);
}
@media (max-width: 900px) {
  .icon-grid__item i {
    font-size: 2rem;
  }
}

.services-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .services-main-grid {
    grid-template-columns: 1fr;
  }
}

.services-main-grid__item,
.services-price-grid__item {
  padding: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 2px 2px 5px 0px rgb(230, 230, 230);
  transition: all 0.3s linear;
  color: hsl(0, 0%, 0%);
  padding: 2rem;
}
.services-main-grid__item:hover,
.services-price-grid__item:hover {
  box-shadow: 9px 9px 8px rgba(12, 150, 192, 0.168627451), -9px -9px 8px #fff;
}
.services-main-grid__item p,
.services-price-grid__item p {
  text-align: left;
}
.services-main-grid__item .services-main-grid__item__icon,
.services-price-grid__item .services-main-grid__item__icon {
  font-size: 5.313rem;
}

.services-price-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .services-price-grid {
    grid-template-columns: 1fr;
  }
}

.services-price-grid__item {
  text-align: left;
}
.services-price-grid__item h4 {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px hsl(148, 71%, 47%);
  font-size: 3rem;
}
@media (max-width: 500px) {
  .services-price-grid__item h4 {
    font-size: 2rem;
  }
}

/*////////////////POSTS\\\\\\\\\\\\\\\*/
.posts-main {
  transform: translateY(-200px);
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
}
@media (max-width: 500px) {
  .posts-main {
    margin-bottom: -200px;
    padding: 2rem 1rem;
  }
}
.posts-main .posts-written-content {
  padding-top: 1rem;
}
.posts-main .posts-written-content a {
  background-color: hsla(45, 100%, 68%, 0.9);
  padding: 0 5px;
  border-radius: 3px;
}
.posts-main .posts-written-content a:hover {
  background-color: hsl(224, 24%, 33%);
  color: hsl(0, 0%, 100%);
}

.posts-written-content__introduction {
  padding: 2.5rem;
  border: 5px solid hsla(45, 100%, 68%, 0.9);
  border-right: none;
  border-bottom: none;
  margin-bottom: 1rem;
}
.posts-written-content__introduction p {
  font-size: 1.125rem;
  margin-top: 2rem;
}

.posts-written-content.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.posts-sidebar {
  padding: 0.5rem;
}
@media (max-width: 500px) {
  .posts-sidebar {
    padding: 2rem 1rem;
  }
}

.posts-hero-photo-credit {
  transform: translateY(-15px);
}

.recent-posts-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px 0px rgb(230, 230, 230);
  transition: all 0.3s linear;
  overflow: hidden;
}
.recent-posts-grid:hover {
  box-shadow: 9px 9px 8px rgba(12, 150, 192, 0.168627451), -9px -9px 8px #fff;
}

.recent-posts-grid-item {
  overflow: hidden;
}
.recent-posts-grid-item h3 {
  padding-top: 0.5rem;
}

.home .recent-posts-grid {
  grid-template-columns: 1fr 1fr;
  box-shadow: none;
  gap: 2rem;
}
@media (max-width: 500px) {
  .home .recent-posts-grid {
    grid-template-columns: 1fr;
  }
}
.home .recent-posts-grid img {
  max-height: 300px;
}
.home .recent-posts-grid-item {
  box-shadow: 2px 2px 5px 0px rgb(230, 230, 230);
  transition: all 0.3s linear;
  padding: 2rem;
}
.home .recent-posts-grid-item:hover {
  box-shadow: 9px 9px 8px rgba(12, 150, 192, 0.168627451), -9px -9px 8px #fff;
}
.home .recent-posts-grid-item .recent-posts-grid-title {
  margin-top: 1rem;
}

/*////////////////POSTS\\\\\\\\\\\\\\\*/
.page-articles .recent-posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: none;
}
@media (max-width: 500px) {
  .page-articles .recent-posts-grid {
    grid-template-columns: 1fr;
  }
}

.recent-posts-grid-item {
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgb(230, 230, 230);
  transition: all 0.3s linear;
  overflow: hidden;
  padding: 1rem;
}
.recent-posts-grid-item:hover {
  box-shadow: 9px 9px 8px rgba(12, 150, 192, 0.168627451), -9px -9px 8px #fff;
}

/*////////////////CHARITIES PAGE \\\\\\\\\\\\\\\*/
.design-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 500px) {
  .design-grid {
    grid-template-columns: 1fr;
  }
}

.design-grid__item.copy {
  display: flex;
  flex-direction: column;
  background-color: #4799d6;
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  font-size: 1.25rem;
}
.design-grid__item.copy h4 {
  font-size: 1.25rem;
  padding-bottom: 3rem;
}

.whatwecando-grid {
  padding-top: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}
@media (max-width: 850px) {
  .whatwecando-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .whatwecando-grid {
    grid-template-columns: 1fr;
  }
}

.whatwecando-grid__item {
  padding: 1rem;
}
.whatwecando-grid__item h4 {
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.item-1 {
  background-color: #ffca3a;
}

.item-2 {
  background-color: #36959b;
}

.item-3 {
  background-color: #575ba0;
  color: hsl(0, 0%, 100%);
}

.item-4 {
  background-color: #ef4a86;
}

.item-5 {
  background-color: #afb22b;
}

.item-6 {
  background-color: #ff924e;
}

.item-7 {
  background-color: #ffca3a;
}

.item-8 {
  background-color: #36959b;
}

.modal-overlay .wpforms-container-full {
  display: none;
}

/*///////////////////Buttons\\\\\\\\\\\\\\\\\\\\\*/
button {
  border: none;
  padding: 0.5rem 1.15rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: hsl(0, 0%, 0%);
  border-radius: 5px;
}

.close-modal {
  transition: none;
}
.close-modal:hover {
  background-color: hsl(0, 100%, 40%);
}

.button,
#wpforms-submit-644,
#wpforms-submit-1118 {
  border: none;
  padding: 0.5rem 1.15rem;
  display: inline-block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: hsl(0, 0%, 0%);
  border-radius: 5px;
}
.button.testimonial,
#wpforms-submit-644.testimonial,
#wpforms-submit-1118.testimonial {
  background-color: hsl(224, 24%, 33%);
  padding: 0.25rem 0.5rem;
}
.button.testimonial:hover,
#wpforms-submit-644.testimonial:hover,
#wpforms-submit-1118.testimonial:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 24%, 33%);
  scale: 1.05;
  -webkit-box-shadow: 1px 1px 0px 1px hsl(0, 0%, 100%);
  box-shadow: 1px 1px 0px 1px hsl(0, 0%, 100%);
}
.button i,
#wpforms-submit-644 i,
#wpforms-submit-1118 i {
  opacity: 0;
  transition: all 0.3s linear;
}
.button:hover,
#wpforms-submit-644:hover,
#wpforms-submit-1118:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  scale: 1.05;
  -webkit-box-shadow: 1px 1px 0px 1px hsl(0, 100%, 40%);
  box-shadow: 1px 1px 0px 1px hsl(0, 100%, 40%);
}
.button:hover i,
#wpforms-submit-644:hover i,
#wpforms-submit-1118:hover i {
  opacity: 1;
  padding-left: 10px;
}
.button:visited,
#wpforms-submit-644:visited,
#wpforms-submit-1118:visited {
  color: hsl(0, 0%, 100%);
}

.branded {
  background-color: hsl(0, 100%, 40%);
  display: inline-block;
}
.branded:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  scale: 1.1;
  -webkit-box-shadow: 1px 1px 0px 1px #cc0000;
  box-shadow: 1px 1px 0px 1px #cc0000;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  justify-items: space-between;
  align-content: center;
  width: 100%;
  top: 45%;
}
@media (max-width: 650px) {
  .btn-container {
    top: 20%;
  }
}

.testimonial-btn-container {
  background-color: hsl(0, 0%, 12%);
  padding: 1rem;
  display: grid;
  place-content: center;
}

.testimonial-prevBtn,
.testimonial-nextBtn {
  font-size: 1.375rem;
  background-color: hsl(0, 0%, 12%);
}

.testimonial-prevBtn:hover,
.testimonial-nextBtn:hover {
  color: hsl(0, 100%, 40%);
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: hsl(0, 100%, 40%);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.top-link:hover {
  scale: 1.5;
  color: hsl(0, 0%, 100%);
  opacity: 1;
}
@media (max-width: 400px) {
  .top-link {
    display: none;
  }
}

.show-link {
  visibility: visible;
  z-index: 100;
}
@media (max-width: 400px) {
  .show-link {
    display: none;
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulsing {
  0% {
    scale: 1;
  }
  50% {
    transform: scale(1.25);
    opacity: 0.5;
  }
  100% {
    scale: 1;
  }
}
/*
///////////////////////////HERO SLIDER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
/*hero slider*/
.home-hero-slider {
  display: grid;
  max-width: 100%;
  transform: translateY(-85px);
  margin-bottom: -60px;
}
.home-hero-slider .slide {
  grid-row: 1/-1;
  grid-column: 1/-1;
  opacity: 0;
  transition: opacity 0.5s ease;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}
.home-hero-slider .slide__mobile-only {
  display: none;
}
.home-hero-slider .slide.active {
  opacity: 1;
}
.home-hero-slider .slide__1 {
  background-image: url(/wp-content/uploads/hero-01.webp);
}
@media (max-width: 576px) {
  .home-hero-slider .slide__1 {
    background-image: url(/wp-content/uploads/hero-mobile-01.webp);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .home-hero-slider .slide__1 {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-01.webp);
  }
}
.home-hero-slider .slide__2 {
  background-image: url(/wp-content/uploads/hero-02.webp);
}
@media (max-width: 576px) {
  .home-hero-slider .slide__2 {
    background-image: url(/wp-content/uploads/hero-mobile-02.webp);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .home-hero-slider .slide__2 {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-02.webp);
  }
}
.home-hero-slider .slide__3 {
  background-image: url(/wp-content/uploads/hero-03-3.webp);
}
@media (max-width: 576px) {
  .home-hero-slider .slide__3 {
    background-image: url(/wp-content/uploads/hero-mobile-03-v2.webp);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .home-hero-slider .slide__3 {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-03.webp);
  }
}
.home-hero-slider .slide__4 {
  background-image: url(/wp-content/uploads/hero20.webp);
}
@media (max-width: 576px) {
  .home-hero-slider .slide__4 {
    background-image: url(/wp-content/uploads/hero-mobile-04.webp);
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .home-hero-slider .slide__4 {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-04.webp);
  }
}
.home-hero-slider .slide__content h2 {
  color: hsl(0, 0%, 100%);
  font-size: 5.313rem;
  opacity: 0;
  background-image: url(/wp-content/uploads/header-decoration.svg);
  background-repeat: no-repeat;
  background-position: 10px 25px;
  background-size: 35%;
  padding: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}
@media (max-width: 850px) {
  .home-hero-slider .slide__content h2 {
    background-position: 0 0;
    font-size: 3.75rem;
    background-size: 15%;
    padding: 2rem;
  }
}
@media (max-width: 450px) {
  .home-hero-slider .slide__content h2 {
    font-size: 3rem;
    background-size: 25%;
    padding: 2rem;
  }
}
.home-hero-slider .slide__content h3 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  opacity: 0;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}
@media (max-width: 768px) {
  .home-hero-slider .slide__content h3 {
    font-size: 1.5rem;
  }
}
.home-hero-slider .slide__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 1000px) {
  .home-hero-slider .slide__content {
    grid-template-columns: 1fr;
  }
}

.down-link {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  animation: pulsing 2s ease-out infinite;
}
.down-link a {
  color: hsl(0, 0%, 100%);
}
.down-link a:hover {
  color: hsl(0, 100%, 40%);
}

/*
///////////////////////////HOME SLIDER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.home-grid__right {
  position: relative;
  display: grid;
}
@media (max-width: 500px) {
  .home-grid__right {
    display: none;
  }
}

.home-grid__right .home-slider {
  grid-column: 2/-1;
  grid-row: 1/-1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease;
}

.home-grid__right .home-slider.active {
  opacity: 1;
  visibility: visible;
}

.home-slider img {
  width: 575px;
  height: 500px;
}

/*
///////////////////////////ABOUT HERO SLIDER(screenshots)\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.hero__overlay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  margin-top: 10rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
@media (max-width: 900px) {
  .hero__overlay {
    margin-top: 5rem;
    width: 95%;
  }
}
@media (max-width: 700px) {
  .hero__overlay {
    grid-template-columns: 1fr;
  }
}

.hero__overlay__left {
  color: hsl(0, 0%, 100%);
}
.hero__overlay__left h2 {
  font-size: 3rem;
}
.hero__overlay__left p {
  font-size: 1.375rem;
}
@media (max-width: 1000px) {
  .hero__overlay__left h2 {
    font-size: 1.5rem;
  }
  .hero__overlay__left p {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .hero__overlay__left {
    padding-bottom: 1rem;
  }
}

.hero__overlay__right {
  display: grid;
}
.hero__overlay__right .screenshots {
  grid-row: 1/-1;
  grid-column: 1/-1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  justify-self: center;
  transform: translateX(40px);
}

.hero__overlay__right .screenshots.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/*wordpress maintenance hero slider*/
.screenshots__grid {
  display: grid;
  grid-template-columns: 1fr;
}
.screenshots__grid h2 {
  display: grid;
  place-items: center;
  z-index: 10;
  color: hsl(0, 0%, 100%);
  font-family: "Nunito", sans-serif;
}
.screenshots__grid span {
  background-color: hsl(0, 100%, 40%);
  padding: 1rem;
}
.screenshots__grid h2, .screenshots__grid img {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

/*
///////////////////////////ABOUT QUOTES SLIDER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.quote-slides-container {
  display: grid;
}
.quote-slides-container .quote-slides {
  grid-row: 1/-1;
  grid-column: 1/-1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  background-size: cover;
}

.quote-slides.active {
  opacity: 1;
  visibility: visible;
}

/*///////////////////Testimonials\\\\\\\\\\\\\\\\\\\\\*/
/*testimonials slider*/
.testimonial-full-width {
  background-image: url(/wp-content/uploads/testimonials-bg.webp);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 108px;
}
@media (max-width: 1000px) {
  .testimonial-full-width {
    background-image: none;
  }
}

.testimonial-slider {
  background-color: hsl(0, 0%, 12%);
  position: relative;
  padding: 1rem 1rem 0 1rem;
}
.testimonial-slider h3 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.testimonial-slider-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1100px;
  grid-auto-flow: column;
  overflow: hidden;
  color: hsl(0, 0%, 100%);
  gap: 4rem;
}

.testimonial-slide {
  transition: 0.25s all ease-in-out;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 0.25fr 1fr;
  min-width: 320px;
  gap: 1rem;
}
.testimonial-slide img {
  border-radius: 50%;
}

.testimonial-slide__1 {
  grid-area: 1/1/2/2;
  width: 100px;
}

.testimonial-slide__2 {
  grid-area: 1/2/2/3;
}

.testimonial-slide__3 {
  grid-area: 2/1/3/3;
}

/*///////////////////Isotope\\\\\\\\\\\\\\\\\\\\\*/
.isotope-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(243px, 1fr));
  grid-auto-rows: 243px;
}

.isotope-container {
  display: flex;
  flex-wrap: wrap;
}

.isotope-container__item {
  position: relative;
}
@media (max-width: 400px) {
  .isotope-container__item {
    width: 100%;
  }
}
.isotope-container__item img {
  width: 100%;
  height: 243px;
  object-fit: cover;
}
@media (max-width: 400px) {
  .isotope-container__item img {
    width: 100%;
  }
}
.isotope-container__item .isotope-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.isotope-container__overlay {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  display: grid;
  place-content: center;
  text-align: center;
}
@media (max-width: 1000px) {
  .isotope-container__overlay {
    opacity: 1;
  }
}
.isotope-container__overlay:hover {
  opacity: 1;
}
.isotope-container__overlay h2 {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .button-group {
    display: none;
  }
}
.button-group button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  text-transform: lowercase;
}
.button-group button:hover {
  color: hsl(0, 100%, 40%);
}
.button-group button:first-of-type {
  padding-left: 0;
}

/*
///////////////////////////HERO\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.hero__image {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  transform: translateY(-85px);
  margin-bottom: -60px;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .hero__image {
    height: auto;
  }
}
@media (max-width: 500px) {
  .hero__image {
    padding-top: 5rem;
  }
}

.page-about-us .hero__image {
  background-image: url(/wp-content/uploads/hero-11.webp);
}
@media (max-width: 576px) {
  .page-about-us .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-11.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .page-about-us .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-11.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.page-our-work .hero__image {
  background-image: url(/wp-content/uploads/hero-21.webp);
}
@media (max-width: 576px) {
  .page-our-work .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-10.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .page-our-work .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-10.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.page-services .hero__image {
  background-image: url(/wp-content/uploads/hero-09.webp);
}
@media (max-width: 576px) {
  .page-services .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-04.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .page-services .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-09.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.page-contact .hero__image {
  background-image: url(/wp-content/uploads/hero-30.webp);
}
@media (max-width: 576px) {
  .page-contact .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-30.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .page-contact .hero__image {
    background-image: url(/wp-content/uploads/hero-mobile-landscape-30.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.photo-credit-container {
  align-self: end;
}
.photo-credit-container:hover {
  cursor: pointer;
}
.photo-credit-container span {
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.5);
  padding: 0.5rem;
  display: table;
  margin: 0 auto;
  border-radius: 22px 22px 0px 0px;
  -moz-border-radius: 22px 22px 0px 0px;
  -webkit-border-radius: 22px 22px 0px 0px;
}

.photo-credit {
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 22px 22px 0px 0px;
  -moz-border-radius: 22px 22px 0px 0px;
  -webkit-border-radius: 22px 22px 0px 0px;
  padding: 0.5rem;
}
.photo-credit a:hover {
  color: hsl(0, 0%, 0%);
}

.small-hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-85px);
  margin-bottom: -60px;
  overflow: hidden;
}
@media (max-width: 500px) {
  .small-hero {
    padding-top: 5rem;
  }
}

.small-hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
@media (max-width: 500px) {
  .small-hero__content {
    display: block;
  }
}

.small-hero__content__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.small-hero__content__grid .brand {
  border-bottom: none;
}
@media (max-width: 500px) {
  .small-hero__content__grid {
    grid-template-columns: 1fr;
  }
}
.small-hero__content__grid h3 {
  color: hsl(0, 100%, 40%);
  font-size: 3.75rem;
}

.small-hero__content__grid__item-right {
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 0.5);
}

/*
///////////////////////////HERO\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.quote-slides {
  padding: 1rem;
}

.quote-slides__overlay {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 4rem 1rem;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .quote-slides__overlay {
    width: 90%;
    padding: 1rem;
  }
}
.quote-slides__overlay blockquote {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  font-family: "Anton", sans-serif;
}
@media (max-width: 850px) {
  .quote-slides__overlay blockquote {
    font-size: 1rem;
  }
}
.quote-slides__overlay cite,
.quote-slides__overlay p {
  color: hsl(0, 0%, 100%);
}

.split-child {
  display: inline-block;
}

/*///////////////////MODALS\\\\\\\\\\\\\\\\\\\\\*/
.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
@media (max-width: 500px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 2px 2px 5px 0px rgb(230, 230, 230);
  color: hsl(0, 0%, 0%);
  padding: 2rem;
  height: 300px;
  transition: all 0.3s linear;
}
.services-item:hover {
  box-shadow: 9px 9px 8px rgba(12, 150, 192, 0.168627451), -9px -9px 8px #fff;
}
.services-item p,
.services-item a,
.services-item h2,
.services-item i {
  text-align: center;
}
.services-item i {
  font-size: 5.313rem;
}
.services-item a {
  color: hsl(0, 0%, 0%);
}
.services-item a:hover {
  color: hsl(0, 100%, 40%);
}
.services-item button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
}
.services-item button:hover {
  color: hsl(0, 100%, 40%);
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.9);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.show-modal {
  visibility: visible;
  z-index: 10;
  height: 100vh;
  overflow-y: hidden;
}

.modal-container {
  background: hsl(0, 0%, 100%);
  width: 90%;
  position: relative;
  padding: 1rem;
}
@media (min-width: 1000px) {
  .modal-container {
    max-width: 1250px;
  }
}
.modal-container p {
  text-align: left;
}
.modal-container h2 {
  text-align: center;
}
.modal-container .icon {
  font-size: 5.313rem;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  background: hsl(0, 0%, 0%);
  border-color: transparent;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: 300ms;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
}

.close-btn:hover {
  color: red;
  transform: scale(1.3);
}

.page-charities .modal-container {
  background-color: hsl(224, 24%, 33%);
  color: hsl(0, 0%, 100%);
}

/*///////////////////fa-icons\\\\\\\\\\\\\\\\\\\\\*/
.fa-icon {
  position: relative;
  display: inline-block;
}

.fa-icon .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.fa-icon .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(0, 0%, 0%) transparent transparent transparent;
}

.fa-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*
///////////////////////////FORMS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
#wpforms-644 {
  padding-left: 1rem;
}
@media (max-width: 500px) {
  #wpforms-644 {
    padding-left: 0;
  }
}
#wpforms-644 input,
#wpforms-644 textarea {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 350px;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
@media (max-width: 500px) {
  #wpforms-644 input,
  #wpforms-644 textarea {
    width: 280px;
  }
}
#wpforms-644 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: hsl(0, 0%, 100%);
}
#wpforms-644 ::-moz-placeholder {
  /* Firefox 19+ */
  color: hsl(0, 0%, 100%);
}
#wpforms-644 :-ms-input-placeholder {
  /* IE 10+ */
  color: hsl(0, 0%, 100%);
}
#wpforms-644 :-moz-placeholder {
  /* Firefox 18- */
  color: hsl(0, 0%, 100%);
}

#wpforms-1118 {
  padding-left: 1rem;
}
@media (max-width: 500px) {
  #wpforms-1118 {
    padding-left: 0;
  }
}
#wpforms-1118 label {
  color: hsl(0, 0%, 100%);
}
#wpforms-1118 input,
#wpforms-1118 textarea {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 350px;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
@media (max-width: 500px) {
  #wpforms-1118 input,
  #wpforms-1118 textarea {
    width: 280px;
  }
}
#wpforms-1118 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: hsl(0, 0%, 100%);
}
#wpforms-1118 ::-moz-placeholder {
  /* Firefox 19+ */
  color: hsl(0, 0%, 100%);
}
#wpforms-1118 :-ms-input-placeholder {
  /* IE 10+ */
  color: hsl(0, 0%, 100%);
}
#wpforms-1118 :-moz-placeholder {
  /* Firefox 18- */
  color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */
