/*
//////////////////////UTILITY CLASSES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.hide {
    display: none !important;
}
.show {
    display: block;
}
/*padding & margin*/

.pt3 {
    padding-top: 3rem !important;
}
.pb1 {
    padding-bottom: 1rem;
}
.pb2 {
    padding-bottom: 2rem;
}
.pt1 {
    padding-top: 1rem;
}
.mt2 {
    margin-top: 2rem !important;
}
.img-shape {
    object-fit: cover;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-shadow {
    -webkit-box-shadow: 7px 7px 0px 2px #cc0000;
    box-shadow: 7px 7px 0px 2px #cc0000;
}
