@use "../abstracts/variables" as *;
/*
///////////////////////////HERO\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.quote-slides {
    padding: 1rem;
}
.quote-slides__overlay {
    background-color: $clr-black-transparent-80;
    padding: 4rem 1rem;
    //border-radius: 5px;
    //border: 1px solid $clr-white-transparent-50;
    //width: 70%;
    @include below(850px) {
        width: 90%;
        padding: 1rem;
    }
    margin: 0 auto;
    blockquote {
        font-size: $fs-32;
        @include below(850px) {
            font-size: 1rem;
        }
        color: $clr-white;
        font-family: $font-header;
    }
    cite,
    p {
        color: $clr-white;
    }
}
.split-child {
    display: inline-block;
}
