@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////ABOUT PAGE \\\\\\\\\\\\\\\*/
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    @include below(500px) {
        grid-template-columns: 1fr;
    }
}
