@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////SERVICES PAGE \\\\\\\\\\\\\\\*/
.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding-left: 1rem;
}
.icon-grid__item i {
    font-size: $fs-85;
    color: $clr-white;
    @include below(500px) {
        font-size: $fs-32;
    }
}
.services-main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
    @include below(500px) {
        grid-template-columns: 1fr;
    }
}
.services-main-grid__item,
.services-price-grid__item {
    padding: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: $clr-white;
    //border: 1px solid $clr-black-transparent-25;
    //border-radius: 50px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 29px 29px 29px #ededed, -29px -29px 29px #ffffff;
    color: $clr-black;
    padding: 2rem;
    // height: 300px;
    //transition: 300ms;
    &:hover {
        box-shadow: 9px 9px 8px #0c96c02b, -9px -9px 8px #fff;
    }
    .services-main-grid__item__icon {
        font-size: $fs-85;
    }
}
.services-price-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
    @include below(500px) {
        grid-template-columns: 1fr;
    }
}
.services-price-grid__item {
    text-align: left;
    h4 {
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-text-stroke: 1px $clr-success;
        font-size: $fs-48;
        @include below(500px) {
            font-size: $fs-32;
        }
    }
}
